# Ignore local environment variables
.env
.env.local

# Ignore package dependencies
node_modules/
dist/
build/

# Ignore Admin and Delivery panels from public repositories (if keeping private)
Admin/
km-admin - Copy/
*.log
